# Build and IDE folders
/out/
/bin/
/dist/
/target/
/build/
.idea/
*.iml
*.iws

# Eclipse files
.classpath
.project
.settings
.factorypath

# NetBeans files
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# Other files
.vscode/
*.log
*.log.*

# Operating System filess
.DS_Store
Thumbs.db
